[submodule "tools/AnimeStudio"]
	path = tools/AnimeStudio
	url = https://github.com/ssice-a/AnimeStudio.git
[submodule "tools/Blender"]
	path = tools/Blender
	url = https://github.com/ssice-a/EIEM-blender.git
